{% extends 'core/base.html'%}
{% load static %}
{% block title %} Orders {% endblock %}
<head>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% block content %}
    <h1>Panel de Reclamaciones</h1>

    {% if reclamaciones %}
        <table class="data-table" border="1">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for reclamacion in reclamaciones %}
                    <tr>
                        <td>{{ reclamacion.user.email }}</td>
                        <td>{{ reclamacion.fecha }}</td>
                        <td>{{ reclamacion.descripcion }}</td>
                        <td>{{ reclamacion.status }}</td>
                        <td><a href="{% url 'gestionar_reclamacion' reclamacion.id %}">Gestionar reclamacion</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="centered-message">No hay reclamaciones para mostrar.</p>
    {% endif %}
{% endblock %}
