{% extends 'core/base.html' %}
{% block title %}Checkout{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <div class="felx felx-col justify-between block mt-2 p-4 bg-white rounded-xl">
            <h2 class="text-2xl text-center font-bold mb-8">Resumen de la Orden</h2>
            {% for cart_item in cart_items %}
                <div class="flex justify-between mb-4">
                    <p>{{ cart_item.quantity }} x {{ cart_item.product.name }}</p>
                    <p>{{ cart_item.quantity }} x {{ cart_item.product.price }} €</p>
                </div>
            {% endfor %}
            <p class="text-right font-bold border-t py-2">Total: {{ precio_total }} €</p>
            <p class="text-right font-bold border-t py-2">Costo de envío: {{ shipping_cost }} €</p>
            <p class="text-right font-bold border-t py-2">Total con envío: {{ precio_total_con_envio }} €</p>
        </div>
    </div>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="text-2xl text-center font-bold mb-4 border-b">Datos de entrega</h2>
        {% if user.is_authenticated %}
            <form id="payment-form" class="mt-4" method="post" action="{% url 'checkout' %}">
                {% csrf_token %}
                <div class="mb-4 felx felx-col justify-between block mt-2 p-4 bg-white rounded-xl" >
                    <label for="address" class="block text-sm font-medium text-gray-700">Dirección de entrega:</label>
                    <input type="text" name="address" id="address" placeholder="Ingresa tu dirección" required
                        class="mt-1 p-2 w-full border rounded-md">
                </div>

                <div class="mb-4 felx felx-col justify-between block mt-2 p-4 bg-white rounded-xl">
                    <label for="payment_option" class="block text-sm font-medium text-gray-700">Opción de pago:</label>
                    <select name="payment_option" id="payment_option" class="mt-1 p-2 w-full border rounded-md" required>
                        <option value="contra_reembolso">Pago contra reembolso</option>
                        <option value="tarjeta_credito">Pagar ahora con tarjeta</option>
                    </select>
                </div>
                
                <!-- Agrega el elemento de tarjeta de Stripe -->

                <div id="card-fields" style="display: none;">
                    <div class="mb-4 felx felx-col justify-between block mt-2 p-4 bg-white rounded-xl">
                        <label for="card-element" class="block text-sm font-medium text-gray-700">Tarjeta de crédito o débito:</label>
                        <div id="card-element" class="mt-1">
                            <!-- Elemento de Stripe para la entrada de la tarjeta -->
                        </div>

                        <!-- Se mostrarán mensajes de error aquí -->
                        <div id="card-errors" role="alert"></div>
                    </div>
                </form>

                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Pagar</button>
            </form>
        {% else %}
            <form id="payment-form" class="mt-4" method="post" action="{% url 'checkout' %}">
                {% csrf_token %}
                <div class="mb-4 felx felx-col justify-between block mt-2 p-4 bg-white rounded-xl" >
                    <label for="address" class="block text-sm font-medium text-gray-700">Dirección de entrega:</label>
                    <input type="text" name="address" id="address" placeholder="Ingresa tu dirección" required
                        class="mt-1 p-2 w-full border rounded-md">
                </div>

                
                <div class="mb-4 felx felx-col justify-between block mt-2 p-4 bg-white rounded-xl" >
                    <label for="email" class="block text-sm font-medium text-gray-700">Correo electrónico</label>
                    <input type="text" name="email" id="email" placeholder="Ingresa tu correo electrónico" required
                        class="mt-1 p-2 w-full border rounded-md">
                </div>

                <div class="mb-4 felx felx-col justify-between block mt-2 p-4 bg-white rounded-xl">
                    <label for="payment_option" class="block text-sm font-medium text-gray-700">Opción de pago:</label>
                    <select name="payment_option" id="payment_option" class="mt-1 p-2 w-full border rounded-md" required>
                        <option value="contra_reembolso">Pago contra reembolso</option>
                        <option value="tarjeta_credito">Pagar ahora con tarjeta</option>
                    </select>
                </div>

                 <!-- Agrega el elemento de tarjeta de Stripe -->
                <div id="card-fields" style="display: none;">
                    <div class="mb-4 felx felx-col justify-between block mt-2 p-4 bg-white rounded-xl">
                        <label for="card-element" class="block text-sm font-medium text-gray-700">Tarjeta de crédito o débito:</label>
                        <div id="card-element" class="mt-1">
                            <!-- Elemento de Stripe para la entrada de la tarjeta -->
                        </div>

                        <!-- Se mostrarán mensajes de error aquí -->
                        <div id="card-errors" role="alert"></div>
                    </div>
                </div>

                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Pagar</button>
            </form>
        {% endif %}
        
    </div>

    <!-- Script de Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('pk_test_51OHPZ9JkuoHLkF3tZ5PofQvdPuAEltDJfkxabiakZc3ERBmEmrIUTUtMpOjo1QFGaR4WK6Wla9tZpHLO4EPo8mMj00KSI7b9BD');
        var elements = stripe.elements();

        var card = elements.create('card');
        card.mount('#card-element');

        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        var form = document.getElementById('payment-form');
        var paymentOptionSelect = document.getElementById('payment_option');
        var cardFields = document.getElementById('card-fields');

        paymentOptionSelect.addEventListener('change', function(event) {
            var selectedOption = event.target.value;
            console.log(selectedOption)

            // Muestra u oculta los campos de tarjeta según la opción seleccionada
            if (selectedOption === 'tarjeta_credito') {
                cardFields.style.display = 'block';
            } else {
                cardFields.style.display = 'none';
            }
        });



        form.addEventListener('submit', function(event) {
            if (paymentOptionSelect.value === 'contra_reembolso'){
                return;
            }
            
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    var hiddenInput = document.createElement('input');
                    hiddenInput.setAttribute('type', 'hidden');
                    hiddenInput.setAttribute('name', 'stripeToken');
                    hiddenInput.setAttribute('value', result.token.id);
                    form.appendChild(hiddenInput);

                    form.submit();
                }
            });
        });
    </script>
{% endblock %}
