{% extends 'core/base.html' %}

{% block title %} Mis pedidos {% endblock %}

{% block content %}
<div class="grid grid-cols-3 gap-6">
    <div class="col-span-3">
        <div class="mt-6 px-6 py-12 rounded-xl">
            <div class="user-list">
                <h2 class="mb-8 text-2xl text-center">Mis pedidos</h2>
                <ul class="user-table">
                    {% for order in orders %}
                    <li class="user-item">
                        <div class="user-details">
                            <strong>Productos:</strong>
                            {% for item in order.items.all %}
                            <p>- {{ item.quantity }}x {{ item.product.name }}</p>
                            {% endfor %}
                        </div>
                        <div class="user-details">
                            <strong>Dirección:</strong> {{ order.address }}
                        </div>
                        <div class="user-details">
                            <strong>Lugar de entrega:</strong> {{ order.delivery_option|capfirst }}
                        </div>
                        <div class="user-details">
                            <strong>Correo electrónico:</strong> {{ order.email }}
                        </div>
                        <div class="user-details">
                            <strong>Precio total:</strong> {{ order.precio_total }}€
                        </div>
                        <div class="user-details">
                            {{ order.status|capfirst }}
                        </div>
                        <div class="user-details">
                            <strong>Id de seguimiento:</strong> {{ order.id_tracking }}
                        </div>
                        <div class="user-role">
                            <a class="staff-label" href="{% url 'seguimiento_pedido' order.id %}">Seguimiento</a>
                        </div>
                        {% if not order.review %}
                        <div class="user-role">
                            <a class="staff-label" href="{% url 'order_review' order.id %}">Añadir Reclamación</a>
                        </div>
                        {% else %}
                        <div class="user-role">
                            <strong>Estado de la reclamación: </strong>
                            {% if order.review.is_accepted == "aceptado" %}
                            <a style="color: green">Aceptado</a>
                            {% elif order.review.is_accepted == "rechazado" %}
                            <a style="color: red">Rechazado</a>
                            {% elif order.review.is_accepted == "pendiente" %}
                            <a style="color: gray">Pendiente</a>
                            {% endif %}
                        </div>

                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }

    .user-list {
        max-width: 600px;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .user-table {
        margin-top: 20px;
        /* Adjust the top margin to create space between header and table */
        padding: 0;
    }

    .user-item {
        list-style: none;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
    }

    .user-details {
        flex-grow: 1;
    }

    .user-role {
        text-align: right;
        margin-bottom: 10px;
    }

    .staff-label,
    .user-label {
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 4px;
        text-transform: uppercase;
    }

    .staff-label {
        color: rgb(255, 255, 255);
        /* Red for staff */
        background-color: #5e8cff;
        /* Light red background */
    }

    .user-label {
        color: #52c41a;
        /* Green for users */
        background-color: #e6f7ff;
        /* Light blue background */
    }
</style>

{% endblock %}