{% extends 'core/base.html' %}

{% block title %} Info {% endblock %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% block content %}

<body>
    <header class="bg-azul-personalizado text-white py-4">
        <!-- Tu código de header aquí... -->
    </header>

    <div class="container mx-auto mt-8">
        <h2 class="text-2xl font-bold mb-4">Detalles del Producto</h2>

        <div class="flex">
            <div class="w-1/3 pr-8">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-auto mb-4">
            </div>

            <div class="w-1/3">
                <p class="text-2xl font-bold  mb-2">{{ product.name }}</p>
                {% if product.description != None %}
                <p class="text-lg text-gray-600  mb-2">{{ product.description }}</p>
                {% else %}
                <p class="text-lg text-gray-600  mb-2">Este artículo no tiene descripción</p>
                {% endif %}
                <div class="flex mb-2">
                    <p class="text-xl font-bold mb-2">Marca:</p>
                    <p class="text-xl mb-2 ml-2"> {{ product.brand.name }}</p>
                </div>
                <div class="flex mb-2">
                    <p class="text-xl font-bold mb-2">Categoría: </p>
                    <p class="text-xl mb-2 ml-2">{{ product.category.name }}</p>
                </div>
                <div class="flex mb-2">
                    <p class="text-xl font-bold mb-2">Precio: </p>
                    <p class="text-xl mb-2 ml-2">{{ product.price }}</p>
                </div>
                <div class="flex mb-2"> 
                <p class="text-xl font-bold mb-2">Estado: </p>
                <p class="text-xl ml-2 mb-2">{% if product.is_sold %}Vendido{% else %}Disponible{% endif %}</p>
                    
                </div>
                </p>
            </div>
            {% if user.is_staff %}
            <div class = "w-1/3 ">
                <a href="{% url 'edit' product.id %}">
                    <i class="fa fa-pencil mr-2 fa-lg"></i>
                </a>
                <a href="{% url 'delete' product.id %}">
                    <i class="fa fa-trash mr-2 fa-lg"></i>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>
{% endblock %}