{% extends 'core/base.html' %}
{% load static %}
{% block title %} Welcome {% endblock %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xxxxxx" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
{% block content %}
<div class="grid grid-cols-3 gap-6">

        <!-- Bloque de productos -->
        <div class="col-span-2">
            <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
                <h2 class="mb-4 text-2xl text-center">Productos</h2>
                
                <p style="color: red;">{{ mensaje_cantidad }}</p>

                <form method="get" action="{% url 'index' %}" class="flex items-center justify-center mt-4">
                    <div class="mr-4">
                        <label for="category" class="mr-2 text-gray-700">Categoría:</label>
                        <select name="category" id="category" class="p-2 border border-gray-300 rounded">
                            <option value="" {% if not category_filter %}selected{% endif %}>Todas</option>
                            {% for category in categories %}
                            <option value="{{ category.name }}" {% if category.name == category_filter %}selected{% endif %}>
                                {{ category.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mr-4">
                        <label for="brand" class="mr-2 text-gray-700">Marca:</label>
                        <select name="brand" id="brand" class="p-2 border border-gray-300 rounded">
                            <option value="" {% if not brand_filter %}selected{% endif %}>Todas</option>
                            {% for brand in brands %}
                            <option value="{{ brand.name }}" {% if brand.name == brand_filter %}selected{% endif %}>
                                {{ brand.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="text" name="q" placeholder="Buscar productos" class="mr-2 p-2">
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Buscar</button>
                </form>

                <div class="grid grid-cols-3 gap-3 mt-4">
                    {% if no_products %}
                        <p>No hay productos disponibles.</p>
                    {% else %}
                    {% for product in products %}
                        <div>
                            <a href="/product/{{ product.id }}">
                                <div style="height: 50%;" class="p-6 bg-white rounded-xl">
                                    <img src="{{ product.image.url }}" style="height: 250px;" class="rounded-t-xl">
                                </div>
                                
                                <div class="p-6 bg-white white-b-xl">
                                    <h2 class="text-2xl">{{ product.name }}</h2>
                                    <p class="text-gray-500">Precio: {{ product.price }}</p>
                                    <p class="text-gray-500">Quedan: {{ product.quantity }}</p>
                                </div>
                            
                            </a>
                            <form id="miFormulario" action="{% url 'add_to_cart' product.id %}" method="GET">
                                <input type="number" name="cantidad" id="cantidad" min="0" required>
                                <button type="submit" class="bg-transparent text-black px-4 py-1 focus:outline-none">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Nuevo bloque a la derecha de productos -->
        <div class="col-span-1">
            <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
                <h2 class="mb-8 text-2xl text-center">Carrito de la Compra
                </h2>
                <div class="felx felx-col justify-between block mt-2 p-4 bg-white rounded-xl">
                    {% for cart_item in cart_items %}
                        <div class="flex justify-between mb-2">
                            <p>{{ cart_item.quantity }}  x  {{ cart_item.product.name }}</p>
                            <p>{{ cart_item.quantity }}  x  {{ cart_item.product.price }} € </p>
                            
                        </div>
                    {% endfor %}
                    <p class="text-right font-bold border-t"> Total: {{ precio_total }} €</p>
                    
                    <a href="{% url 'checkout' %}" class="text-center text-xl font-awesome mt-1 bg-blue-500 text-white px-4 py-2 rounded">Comprar</a>
                    <p class="shipping-message">El envío se calcula en la pasarela de pagos.<br> Envío gratuito a partir de 100€</p>
                    <p style="color: red;">{{ mensaje }}</p>
                
                </div>
                
            </div>

            <div class="col-span-1">
                <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
                <h2 class="text-2xl text-center">Localiza tu pedido!</h2>
                <div class="px-6 py-12 rounded-xl flex items-center justify-center">
                    <form action="search_order" method="get" class="flex items-center">
                        <input type="text" name="q" placeholder="Introduce el localizador" class="px-4 py-2 bg-gray-300 text-gray-800 placeholder-black focus:outline-none border-none rounded-l-md">
                        <button type="submit" class="bg-blue-800 text-white px-4 py-2 focus:outline-none rounded-r-md">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        </div>

        
        
    </div>
{% endblock %}
