{% extends 'core/base.html' %}
{% load static %}
{% block title %} Orders {% endblock %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'PhoneDoctor/core/static/core/style.css' %}">
</head>

{% block content %}
<h1>Panel de Ventas</h1>

<table class="data-table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Email</th>
            <th>Dirección</th>
            <th>Producto</th>
            <th>Total</th>
            <th>Opiniones</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.user }}</td>
            <td>{{ order.email }}</td>
            <td>{{ order.address }}</td>
            <td>
                {% for item in order.items.all %}
                    <p>{{ item.quantity }}x {{ item.product.name }}</p>
                {% endfor %}
            </td>
            <td>{{ order.precio_total}}</td>
            <td>
                {% if order.review.id %}
                    <a class="staff-label" href="/user/order/{{order.id}}/review">Ver Opiniones</a>
                {% else %}
                    <p>No hay opiniones</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

        {% comment %} Ejemplo temporal {% endcomment %}

    </tbody>
</table>
{% endblock %}