{% extends 'core/base.html' %}

{% block title %} Opinion {% endblock %}

{% block content %}
<div class="grid grid-cols-3 gap-6">
    <div class="col-span-3">
        <div class="mt-6 px-6 py-12 rounded-xl">
            <div class="user-list">
                <h2 class="mb-8 text-2xl text-center">Opinión</h2>
                <div class="user-details">
                    <strong>Título: </strong>{{ review.title }}
                </div>
                <div class="user-details">
                    <strong>Descripción: </strong>{{ review.description }}
                </div>
                <div class="user-details">
                    <strong>Estado: </strong>{{ review.is_accepted|capfirst }}
                </div>
                <div style="text-align: right;">
                <form method="post" action="{% url 'order_review_admin' review.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <strong for="id_is_accepted">Cambiar Estado:</strong>
                    <select name="is_accepted" id="id_is_accepted">
                        <option value="aceptado">Aceptado</option>
                        <option value="rechazado">Rechazado</option>
                        <option value="pendiente">Pendiente</option>
                    </select>
                    <button class="ml-2 py-1 px-1 text-lg bg-blue-500 hover:bg-teal-700 rounded-xl text-white">Guardar</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }

    .user-list {
        max-width: 600px;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .user-table {
        margin-top: 20px;
        /* Adjust the top margin to create space between header and table */
        padding: 0;
    }

    .user-item {
        list-style: none;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
    }

    .user-details {
        flex-grow: 1;
    }

    .user-role {
        text-align: right;
    }

    .staff-label,
    .user-label {
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 4px;
        text-transform: uppercase;
    }

    .staff-label {
        color: rgb(255, 255, 255);
        /* Red for staff */
        background-color: #5e8cff;
        /* Light red background */
    }

    .user-label {
        color: #52c41a;
        /* Green for users */
        background-color: #e6f7ff;
        /* Light blue background */
    }
</style>

{% endblock %}